html,body,div,span,iframe,map,img,a img,samp,strong,hr,
h1,h2,h3,h4,h5,h6,b,p,blockquote,a,address,code,dl,dt,dd,ol,
ul,li,form,label,table,tr,td,th,input,textarea{padding:0;margin:0;border:0;font-family: Microsoft YaHei;}
ul,li{list-style:none;}
.clear{clear: both;}

/*头部开始*/
#Head{width: 100%;background: #403e3f url(../img/top-bj.png) no-repeat center;}
#Head .content{width:1024px;margin: 0 auto;padding-top: 30px;}
#Head .content .top{ width:1024px;height:122px;}
#Head .content .top .logo{width: 185px;float: left;margin-top: 20px;}
#Head .content .top .logo img{display: block;margin: 0 auto;}
#Head .content .top .logo span{display:block; font-size: 12px;margin: 0 auto;color: #c6cad2;}
#Head .content .top .contact{float:right;margin-top: 40px;position: relative;}
#Head .content .top .contact .p1{float: left; position: absolute;top: -25px;right: 10px;color: #ccc;font: 12px/24px Microsoft YaHei;}
#Head .content .top .contact .p1 a{text-decoration: none; color: #ccc;}
#Head .content .top .contact .p1 a:hover{text-decoration: none; color: #43b6ff;}
#Head .content .top .contact .p2{float: left;margin:4px 10px 0 0; }
#Head .content .top .contact .p2 i{font: 30px/30px Microsoft YaHei;color: #ccc;}
#Head .content .top .contact .p2 span{font: 24px/30px Microsoft YaHei;color: #c6cad2;}
#Head .content .top .contact .img{float: left;}
#Head .content .top .contact .img a{display:block; margin: 0 10px;text-decoration: none; float: left;}
#Head .content .top .contact .img a i{font: 30px/30px Microsoft YaHei;color: #ccc;}
#Head .content .top .contact .img a:hover i{color: #43b6ff;}
#Head .adv{width: 100%;height: 56px;}
#Head .adv .con{width: 1024px;height: 56px;margin: 0 auto;position: relative;}
#Head .adv .con .list{width: 800px;height: 56px;margin: 0 auto;}
#Head .adv .con .list .listLi{float: left;position: relative;}
#Head .adv .con .list .listLi .a{display:block;padding: 0 30px;background: url(../img/adv-bk.png) no-repeat;
  font: 14px/56px Microsoft YaHei;text-decoration: none;color: #c6cad2;float: left;}
#Head .adv .con .list .L2 .a{color:#43b6ff; }  
#Head .adv .con .list .listLi:hover .a{color:#43b6ff;}
#Head .adv .con .list .listLi ul{width: 116px;height:0px;position: absolute;top: 56px;left: 0;z-index: 3;transform: all 0.6s;
	overflow: hidden;opacity:0;}
#Head .adv .con .list .L1 ul{width: 88px;} 
#Head .adv .con .list .listLi ul li a{display:block;text-align: center; font: 14px/30px Microsoft YaHei;
	text-decoration: none;color: #c6cad2;}
#Head .adv .con .list .listLi ul li a:hover{color: #43b6ff;}	
#Head .adv .con .list .listLi:hover ul{height: 200px;opacity:1;}	
#Head .adv .con .pos{width:100%;background:#403e3f;position: absolute;top: 56px;left: 0;
	height: 0px;z-index: 2;transition: all 0.3s;overflow: hidden;opacity:0;}
#Head .adv .con .pos .pos_p{position: absolute;right: 56px;bottom: 30px;font: 14px/16px Microsoft YaHei;color: #c6cad2;}	
/*头部结束*/

/*核心开始*/
#core{width: 100%;padding:170px 0 50px 0;background: rgb(20,20,20);}
#core .content{width: 1024px;height: 350px; margin:0 auto;; }
#core .content .p1{width: 250px;font: 20px/30px Microsoft YaHei;border: 2px solid #fff;text-align: center;font-weight: bold;color: #fff;margin: 0 auto;}
#core .content .p1 span{font-weight: normal;}
#core .content .p2{width: 544px;height:74px;background: url(../img/about-core.png);margin: 20px auto;}
#core .content .p3{width: 300px;font: 12px/20px Microsoft YaHei;letter-spacing:8px;color: #ccc; border-top:1px solid #ccc;border-bottom:1px solid #ccc; text-align: center; margin: 0 auto;}
#core .content .Smooth{display: block; width: 30px;height: 30px;border: 2px solid #fff;text-decoration: none; border-radius: 50%;margin: 80px auto;color: #fff; text-align: center;}
#core .content .Smooth:hover{color: #3baff7;border-color:#3baff7; }
#core .content .Smooth i{font: 20px/30px Microsoft YaHei;}
/*核心结束*/

/*淘恩简介开始*/
#brief{width: 100%;padding:80px 0 50px 0;background-color: #fff;}
#brief .content{width: 1004px;height: 430px; margin:0 auto;padding: 10px; }
#brief .content .p1{font: 30px/40px Microsoft YaHei;text-align: center;font-weight: bold;color: #403e3f;}
#brief .content .p2{font: 12px/20px Microsoft YaHei;text-align: center;color: #ccc;}
#brief .content .p3{font: 13px/20px Microsoft YaHei;text-align: center;color: #403e3f;margin: 40px auto;}
#brief .content .p4{font: 13px/20px Microsoft YaHei;text-align: center;color: #666;}
#brief .content .Smooth{display: block; width: 30px;height: 30px;border: 2px solid #666;text-decoration: none; border-radius: 50%;margin: 80px auto;color: #666; text-align: center;}
#brief .content .Smooth:hover{color: #3baff7;border-color:#3baff7; }
#brief .content .Smooth i{font: 20px/30px Microsoft YaHei;}
/*淘恩简介结束*/

/*特色开始*/
#characteristic{width: 100%; background: url(../img/characteristic.jpg) no-repeat center center;}
#characteristic .content{width: 1024px;height:655px;padding-top:80px; margin: 0 auto;}
#characteristic .content .p1{font: 48px/60px Microsoft YaHei;text-align: center;color: #fff;}
#characteristic .content .p2{font: 16px/60px Microsoft YaHei;text-align: center;color: #fff;}
#characteristic .content .Smooth{display: block; width: 30px;height: 30px;border: 2px solid #fff;text-decoration: none; border-radius: 50%;margin: 0 auto;margin-top: 440px; color: #fff; text-align: center;}
#characteristic .content .Smooth:hover{color: #3baff7;border-color:#3baff7; }
#characteristic .content .Smooth i{font: 20px/30px Microsoft YaHei;}
/*特色结束*/

/*产业开始*/
#about{width:100%;height:650px;background: #fff;}
#about .content{width: 1024px;margin: 0 auto;padding-top:80px; }
#about .content .top{height: 210px;}
#about .content .top .p1{font: 30px/40px Microsoft YaHei;text-align: center;font-weight: bold;color: #403e3f;}
#about .content .top .p2{font: 12px/20px Microsoft YaHei;text-align: center;color: #ccc;}
#about .content .top .p3{font: 16px/20px Microsoft YaHei;text-align: center;color: #403e3f;margin-top: 10px;}
#about .content .top .p4{font: 16px/30px Microsoft YaHei;text-align: center;color: #666;}
#about .content .bottom{height: 280px;}
#about .content .bottom div{width: 150px;border-radius: 50%;margin: 0 95px;float: left;text-align: center;}
#about .content .bottom div a{display: block; text-decoration: none;color:#3c3c3c;font: 16px/25px Microsoft YaHei;}
#about .content .bottom div .a1{font: 20px/30px Microsoft YaHei;font-weight: bold;}
#about .content .bottom div a:hover{color:rgb(100,100,100);}
#about .content .bottom .taoen .img{display: block;width: 150px;height: 160px; background: url(../img/about-taoen.png) no-repeat;}
#about .content .bottom .wanhu .img{display: block;width: 150px;height: 160px; background: url(../img/about-wanhu.png) no-repeat;}
#about .content .bottom .hetu .img{display: block; width: 150px;height: 160px;background: url(../img/about-hetu.png) no-repeat;}
/*产业结束*/

/*联系我们开始*/
#contact{width: 100%;background: #30333a;}
#contact .content {width: 1024px;margin:0 auto;padding-top:50px;border-bottom:1px solid rgba(100,100,100,0.7);  }
#contact .content .left{width: 150px;height: 200px;float: left;margin-left: 15px;}
#contact .content .left p{height:35px;float: left;}
#contact .content .left p i{font: 20px/20px Microsoft YaHei;color: #3baff7;}
#contact .content .left p a{text-decoration: none;font: 14px/28px Microsoft YaHei;color: #fff;}
#contact .content .left .img{width:110px;height: 110px;}
#contact .content .middle{width:560px;height: 200px; float: left;}
#contact .content .middle p{height:35px;float: left;}
#contact .content .middle p i{font: 20px/20px Microsoft YaHei;color: #3baff7;}
#contact .content .middle p a{text-decoration: none;font: 14px/28px Microsoft YaHei;color: #fff;}
#contact .content .middle .middle_left {width: 170px;float: left;}
#contact .content .middle .middle_left .for1{background: #1d2026;width:160px;height:22px;margin-bottom:7px;outline:none;border: none;padding: 5px;color: #fff;}
#contact .content .middle .for2{width: 290px;height: 100px; float: left;margin-left: 7px;resize: none;outline:none;border: none;background: #1d2026;padding: 5px;color: #fff;}
#contact .content .middle .for3{width:35px;height: 110px; border: none;background: #3baff7;margin-left: 7px;font: 12px/20px Microsoft YaHei;text-align: center;color: #fff;cursor:pointer;}
#contact .content .right{width:290px;height: 200px; float: left;}
#contact .content .right .p1{height:35px;float: left;}
#contact .content .right .p1 i{font: 20px/20px Microsoft YaHei;color: #3baff7;}
#contact .content .right .p1 a{text-decoration: none;font: 14px/28px Microsoft YaHei;color: #fff;}
#contact .content .right .p2{font: 14px/25px Microsoft YaHei;color: #fff;}
/*友情链接开始*/
#contact .content .friendship{font: 14px/25px Microsoft YaHei;color: #727272;text-align: center;}
#contact .content .friendship a{display: inline-block;color: #727272;text-decoration: none; }
#contact .content .friendship .a2{margin-left: 5px; }
#contact .content .friendship a:hover{color: #43b6ff;}
/*友情连接结束*/
/*联系我们结束*/

/*右侧固定定位开始*/
#fixed{width:50px;height: 204px;position: fixed;right: 10px;bottom:105px; }
#fixed .content{width:50px;height: 204px;}
#fixed .content li{width:50px;height:50px ;background: #B5B5B5;margin-bottom: 
1px;position: relative;}
#fixed .content li a{display: block; text-decoration: none;color:#fff;text-align: center; }
#fixed .content li a i{font:30px/50px Microsoft YaHei;}
#fixed .content li a .L1_content{width:198px;position: absolute; top:0;left: -198px;}
#fixed .content li a .L1_content div{width:188px;height: 88px;background: #fff;border: 1px solid rgba(200,200,200,0.8);}
#fixed .content li a .L1_content .img{position: absolute; top:25px;left: 189px;}
#fixed .content .L1 a .L1_content div span{display: block; width: 60px;height:60px;float: left;border:1px solid #ccc;border-radius: 50%;box-shadow: 0 0 10px #ccc inset;margin:14px 0  0 14px;}
#fixed .content .L1 a .L1_content div span img{display: block;width: 40px;margin: 5px auto;}
#fixed .content .L1 a .L1_content div p{width: 70px;color: #727272;float: left;margin:23px 0  0 14px;}
#fixed .content .L2 a .L1_content div p{width: 130px;color: #727272;text-align: left; float: left;line-height: 25px;  margin:19px 0  0 14px;margin-left: 30px;}
#fixed .content .L2 a .L1_content div p span{color:#43b6ff;}
#fixed .content .L3 a .L1_content{top:-102px;}
#fixed .content .L3 a .L1_content div{height: 210px;}
#fixed .content .L3 a .L1_content .img{top:127px;}
#fixed .content .L3 a .L1_content div span{display: block;margin:10px auto;margin-bottom: 0px;}
#fixed .content .L3 a .L1_content div span img{width: 165px;}
#fixed .content .L3 a .L1_content div p{width: 165px;color: #727272;font-size: 12px; margin: 0 auto;}
#fixed .content li a .L1_content{display: none;}
#fixed .content li:hover a i{color: #43b6ff;}
#fixed .content li:hover a .L1_content{display:block;}
/*右侧固定定位结束*/

/*版权开始*/
#copy{width: 100%;background: #30333a;}
#copy .content {width: 1024px;height: 120px;margin:0 auto;padding-top:20px;text-align: center; }
#copy .content .p1{font: 14px/30px Microsoft YaHei;color: #727272;}
#copy .content .p2{font: 14px/30px Microsoft YaHei;color: #727272;}
#copy .content .p2 a{text-decoration: none;color: #727272;}
/*版权结束*/