html,body,div,span,iframe,map,img,a img,samp,strong,hr,
h1,h2,h3,h4,h5,h6,b,p,blockquote,a,address,code,dl,dt,dd,ol,
ul,li,form,label,table,tr,td,th,input,textarea{padding:0;margin:0;border:0;font-family: Microsoft YaHei;}
ul,li{list-style:none;}
.clear{clear: both;}

/*头部开始*/
#Head{width: 100%;background: #403e3f url(../img/top-bj.png) no-repeat center;}
#Head .content{width:1024px;margin: 0 auto;padding-top: 30px;}
#Head .content .top{ width:1024px;height:122px;}
#Head .content .top .logo{width: 185px;float: left;margin-top: 20px;}
#Head .content .top .logo img{display: block;margin: 0 auto;}
#Head .content .top .logo span{display:block; font-size: 12px;margin: 0 auto;color: #c6cad2;}
#Head .content .top .contact{float:right;margin-top: 40px;position: relative;}
#Head .content .top .contact .p1{float: left; position: absolute;top: -25px;right: 10px;color: #ccc;font: 12px/24px Microsoft YaHei;}
#Head .content .top .contact .p1 a{text-decoration: none; color: #ccc;}
#Head .content .top .contact .p1 a:hover{text-decoration: none; color: #43b6ff;}
#Head .content .top .contact .p2{float: left;margin:4px 10px 0 0; }
#Head .content .top .contact .p2 i{font: 30px/30px Microsoft YaHei;color: #ccc;}
#Head .content .top .contact .p2 span{font: 24px/30px Microsoft YaHei;color: #c6cad2;}
#Head .content .top .contact .img{float: left;}
#Head .content .top .contact .img a{display:block; margin: 0 10px;text-decoration: none; float: left;}
#Head .content .top .contact .img a i{font: 30px/30px Microsoft YaHei;color: #ccc;}
#Head .content .top .contact .img a:hover i{color: #43b6ff;}
#Head .adv{width: 100%;height: 56px;}
#Head .adv .con{width: 1024px;height: 56px;margin: 0 auto;position: relative;}
#Head .adv .con .list{width: 800px;height: 56px;margin: 0 auto;}
#Head .adv .con .list .listLi{float: left;position: relative;}
#Head .adv .con .list .listLi .a{display:block;padding: 0 30px;background: url(../img/adv-bk.png) no-repeat;
  font: 14px/56px Microsoft YaHei;text-decoration: none;color: #c6cad2;float: left;}
  #Head .adv .con .list .L7 .a{color:#43b6ff; }  
#Head .adv .con .list .listLi:hover .a{color:#43b6ff;}
#Head .adv .con .list .listLi ul{width: 116px;height:0px;position: absolute;top: 56px;left: 0;z-index: 3;transform: all 0.6s;
	overflow: hidden;opacity:0;}
#Head .adv .con .list .L1 ul{width: 88px;} 
#Head .adv .con .list .listLi ul li a{display:block;text-align: center; font: 14px/30px Microsoft YaHei;
	text-decoration: none;color: #c6cad2;}
#Head .adv .con .list .listLi ul li a:hover{color: #43b6ff;}	
#Head .adv .con .list .listLi:hover ul{height: 200px;opacity:1;}	
#Head .adv .con .pos{width:100%;background:#403e3f;position: absolute;top: 56px;left: 0;
	height: 0px;z-index: 2;transition: all 0.3s;overflow: hidden;opacity:0;}
#Head .adv .con .pos .pos_p{position: absolute;right: 56px;bottom: 30px;font: 14px/16px Microsoft YaHei;color: #c6cad2;}	
/*头部结束*/

/*top开始*/
#top{width: 100%;background: #333;}
#top .content{width:1024px;height: 400px;margin: 0 auto;padding-top: 80px;}
#top .content .p1{font: 36px/54px Microsoft YaHei;color: #fff;text-align: center;}
#top .content .p2{font: 12px/24px Microsoft YaHei;color: #ccc;text-align: center;background: transparent;}
#top .content .box{width: 700px;height: 80px; margin: 50px auto 0;border: 1px solid #434343;padding: 2px;}
#top .content .box .p3{font: 38px/78px Microsoft YaHei;color: #fff;text-align: center;border: 1px solid #434343;background: #434343;}
/*top结束*/

/*地址开始*/
#address{width: 100%;background: #30333a;padding-top: 160px;}
#address .content{width:1024px;height: 480px;margin: 0 auto;}
#address .content .left{width: 540px;float: left;}
#address .content .left .for1{width: 430px;outline:none;border: none;font: 12px Microsoft YaHei;
	color: #fff;margin-bottom:1px;padding: 12px 10px;background: #434343;display: block;  }
#address .content .left .for2{width: 430px;outline:none;border: none;font: 12px Microsoft YaHei;
	color: #fff;margin-bottom:1px;padding: 12px 10px;height: 98px; background: #434343;display: block;resize: none; }
#address .content .left .for3{background:#bf0a24;padding: 12px 10px;width: 450px;outline:none;border: none;
	font: 12px Microsoft YaHei;color: #fff;cursor:pointer; display: block;}
#address .content .right{width: 450px;float: left;}
#address .content .right div{width: 450px;height: 40px;margin-bottom:1px; }
#address .content .right div .p1{width: 40px;height: 40px;background: #434343;float: left;color:#ababab;text-align:center;}
#address .content .right div .p1 i{font: 25px/40px Microsoft YaHei;}
#address .content .right div .p2{float: left;font: 12px/40px Microsoft YaHei;padding-left: 10px;color:#ababab; }
/*地址结束*/

/*地图开始*/
#allmap{width: 100%;height:600px;overflow: hidden;margin:0;font-family:"微软雅黑";}
/*地图结束*/



/*右侧固定定位开始*/
#fixed{width:50px;height: 204px;position: fixed;right: 10px;bottom:105px; }
#fixed .content{width:50px;height: 204px;}
#fixed .content li{width:50px;height:50px ;background: #B5B5B5;margin-bottom: 
1px;position: relative;}
#fixed .content li a{display: block; text-decoration: none;color:#fff;text-align: center; }
#fixed .content li a i{font:30px/50px Microsoft YaHei;}
#fixed .content li a .L1_content{width:198px;position: absolute; top:0;left: -198px;}
#fixed .content li a .L1_content div{width:188px;height: 88px;background: #fff;border: 1px solid rgba(200,200,200,0.8);}
#fixed .content li a .L1_content .img{position: absolute; top:25px;left: 189px;}
#fixed .content .L1 a .L1_content div span{display: block; width: 60px;height:60px;float: left;border:1px solid #ccc;border-radius: 50%;box-shadow: 0 0 10px #ccc inset;margin:14px 0  0 14px;}
#fixed .content .L1 a .L1_content div span img{display: block;width: 40px;margin: 5px auto;}
#fixed .content .L1 a .L1_content div p{width: 70px;color: #727272;float: left;margin:23px 0  0 14px;}
#fixed .content .L2 a .L1_content div p{width: 130px;color: #727272;text-align: left; float: left;line-height: 25px;  margin:19px 0  0 14px;margin-left: 30px;}
#fixed .content .L2 a .L1_content div p span{color:#43b6ff;}
#fixed .content .L3 a .L1_content{top:-102px;}
#fixed .content .L3 a .L1_content div{height: 210px;}
#fixed .content .L3 a .L1_content .img{top:127px;}
#fixed .content .L3 a .L1_content div span{display: block;margin:10px auto;margin-bottom: 0px;}
#fixed .content .L3 a .L1_content div span img{width: 165px;}
#fixed .content .L3 a .L1_content div p{width: 165px;color: #727272;font-size: 12px; margin: 0 auto;}
#fixed .content li a .L1_content{display: none;}
#fixed .content li:hover a i{color: #43b6ff;}
#fixed .content li:hover a .L1_content{display:block;}
/*右侧固定定位结束*/

/*版权开始*/
#copy{width: 100%;background: #30333a;}
#copy .content {width: 1024px;height: 120px;margin:0 auto;padding-top:20px;text-align: center; }
#copy .content .p1{font: 14px/30px Microsoft YaHei;color: #727272;}
#copy .content .p2{font: 14px/30px Microsoft YaHei;color: #727272;}
#copy .content .p2 a{text-decoration: none;color: #727272;}
/*版权结束*/